h1 {
  font-size: 40px;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  font-family: Arial;
}

.container {
  text-align: center;
}

#output {
  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
}
