<!DOCTYPE html>
  <head>
    <title>tiniest AI</title>
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Let's have fun!</h1>
    </header>
    <main>
      <div class="container">
        <img
          src="https://cdn.mos.cms.futurecdn.net/9W4PYwVd9sQTT9NmJfK9TQ-1600-80.jpg.webp"
          width="400"
          alt="excitment"
        />
      </div>
      <p>
        Input something:
        <input type="text" placeholder="type input" />
        <button onclick="analyse()">obtain knowledge</button>
      </p>
      <div id="output">The output will appear here</div>
    </main>
    <script src="/static/script.js"></script>
  </body>
</html>
